* {
    box-sizing: border-box;
    font-family: 'Stardos Stencil';
    font-weight: 700;
    color: #113946d9;
}

html {
    scroll-behavior: smooth;
    transition: scroll-behavior 2s ease-in-out;
}

body {
    background-color: #b0a695b9;
}

[class*="col"] {
    float: left;
    padding: 15px;
    text-align: center;
    
}

[class*="row"] {
    text-align: center;
}

.row-main {
    height: 1500px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%
}

.col-3 {
    width: 25%;
}

.col-33 {
    width: 20%;
}

.col-33-row-header {
    width: 20%;
    display: block; /* Ensure proper rendering of the block */
}

.icon {
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
    display: block; /* Ensure proper rendering of the block */
}

.icon:hover {
    transform: scale(1.5); /* Increase the scale on hover */
}

.col-33-page-links {
    width: 20%;
    transition: transform 0.5s ease-in-out; /* Add a smooth transition effect */
    display: block; /* Ensure proper rendering of the block */
    border: 2px solid rgba(17, 57, 70, 0.85);
    border-radius: 2em;
    margin: 10px;
    padding: 15px;
    background-color: #b0a695;
    overflow:hidden;

    white-space: nowrap;
}



.col-33-page-links:hover {
    transform: scale(1.25); /* Increase the scale on hover */
    border-radius: 2em;
}

.col-4 {
    width: 33.33%
    
}

.col-4-no-padding {
    padding: 0;
}

.col-5 {
    width: 41.66%
}

.col-6-section1, .col-6 {
    width: 50%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col-12-section2, .col-12-section3, .col-12-section4 {
    width: 100%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col-7 {
    width: 58.33%
}

.col-8 {
    width: 66.66%
}

.col-9 {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-10 {
    width: 83.33%
}

.col-11 {
    width: 91.66%
}

.col-12 {
    width: 100%;
}

.col-12-bottom {
    width: 100%;
    display: flex;
    justify-content: center;

}

.btn-goUp{
    transition: transform 0.5s ease-in-out; /* Add a smooth transition effect */
    display: block; /* Ensure proper rendering of the block */
    border: 2px solid rgba(17, 57, 70, 0.85);
    border-radius: 2em;
    padding: 1rem;
    background-color: #b0a695;
    font-size: 18px;    
}

.btn-goUp:hover{
    transform: scale(1.25); /* Increase the scale on hover */
}

.col-12-social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 20px;
}


h2, h4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Stardos Stencil';
    font-weight: 900;
    margin: 5px;
    text-decoration-line: underline;
}

.col-12-top {
    background-image: url("../pics/picture.jpg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
    display: flex;
    justify-content: center;
    border-radius: 2em;

    position: relative;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(255, 242, 216) 3%, rgb(234, 215, 187) 38%, rgb(188, 163, 127) 68%, rgb(17, 57, 70) 98%);
    /*animation: gradient 15s ease;*/
    background-size: 400% 400%;
    background-attachment: fixed;
    overflow: hidden;
}


.row-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.col-4-shake {
    animation: shake .8s;
    animation-delay: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.col-4-page-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.col-3-footer{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-12-legacy{
    position:relative;
    animation-duration: 2s;
    animation-name: slidein;
    float: none;
    padding: 0px;
    font-family: 'Kaushan Script', cursive;    
}

.col-4-legacy {
    width: 50%;
    padding: 0;
    
}

#legacy {
    position:relative;
    font-size: 50px;
    font-weight: bold;
    color: rgba(17, 57, 70, 0.85);
}

#myname {
    color: black;

}

#myimage_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#myimage {
    border-radius: 2em;
    border: 4px solid #b0a695b9;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

[id*="button"] {
    border: 2px solid rgba(17, 57, 70, 0.85);
    border-radius: 2em;
    font-size: large;
    background-color: #b0a695;
    
    
}

.button-download {
    transition: transform 0.5s ease-in-out; /* Add a smooth transition effect */
    display: block; /* Ensure proper rendering of the block */
    padding: 15px;
}

.button-download:hover {
  /*  Making button bigger on hover  */
    transform: scale(1.5);
  }


@keyframes shake {
    0% {
        transform: translate(0);
    }
    20%, 40%, 60%, 80% {
        transform: translate(.8em);
    }
    10%, 30%, 50% {
        transform: translate(-.2em);
    }
    70%, 100% {
        transform: translate(0);
    }
}

@keyframes slidein {
    
    from {
      /*width: 300%;*/
      right: 200%;
    }
  
    to {
      /*width: 100%;*/
      right: 0%;
    }
  }

.col-1 .icon
{
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



/*  Background Animation  */
/*body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}*/

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 200% 150% 0 0;
    position: absolute;
    width: 200%;
    height: 13%;
    animation: wave 10s -1.5s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.7;
    bottom: 0;
    left: 0;
}

.wave:nth-of-type(2) {
    height: 23%;
    animation: wave 4s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    height: 18%;
    animation: wave 6s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(4) {
    top: 0;
    height: 15%;
    border-radius: 0 0 200% 150%;
    animation: wave 10s -1s reverse infinite;
    opacity: 1.5;
}

.wave:nth-of-type(5) {
    top: 0;
    height: 8%;
    border-radius: 0 0 200% 150%;
    animation: wave 4s -1s linear infinite;
    opacity: 0.8;
}

.wave:nth-of-type(6) {
    top: 0;
    height: 4%;
    border-radius: 0 0 200% 150%;
    animation: wave 6s -1s linear infinite;
    opacity: 0.8;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}





/* Small screens (phones) 767px */
@media only screen and (max-width: 1530px) {
    [class*="col"] {
        padding: 10px; /* Adjust padding for smaller screens */
    }
    
    .col-33 {
        width: 100%; /* Full width on smaller screens */
    }

    .col-33-page-links {
        width: 100%; /* Full width on smaller screens */
        margin: 5px;
        padding: 2.5px;
    }

    .col-12-top {
        height: 400px; /* Adjust height for smaller screens */
        display: flex;
        flex-direction: column;
    }

    .ttrow1 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .col-6-section1, .col-6 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .col-3, .col-4-shake {
        width: 100%; /* Full width on smaller screens */
        display: flex;
        position: relative;
    }

    .col-4-page-links {
        width: 100%; /* Full width on smaller screens */
        display: flex;
        position: relative;
        margin: 0;
    }

    .col-4-legacy, .row-header, .col-12-legacy, .col-12-social-links {
        width: 100%;
        padding: 0;
    }




    .button-download:hover {
        transform: none;
    }
    
    .btn-goUp:hover{
        transform: none;
    }

    .icon:hover {
        transform: none;
    }

    .col-33-page-links:hover {
        transform: none;
    }

    h2, h4 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        margin: 5px;
    }




    .wave {
        background: rgb(255 255 255 / 25%);
        border-radius: 300% 200% 0 0;
        position: absolute;
        width: 1000%;
        height: 3%;
    }

    .wave:nth-of-type(2) {
        height: 9%;
        animation: wave 4s linear reverse infinite;
        opacity: 0.8;
    }
    
    .wave:nth-of-type(3) {
        height: 6%;
        animation: wave 6s linear reverse infinite;
        opacity: 0.8;
    }
    
    .wave:nth-of-type(4) {
        top: 0;
        height: 9%;
        border-radius: 0 0 300% 200%;
        animation: wave 10s -1s reverse infinite;
        opacity: 1.5;
    }
    
    .wave:nth-of-type(5) {
        top: 0;
        height: 6%;
        border-radius: 0 0 300% 200%;
        animation: wave 4s -1s linear infinite;
        opacity: 0.8;
    }
    
    .wave:nth-of-type(6) {
        top: 0;
        height: 3%;
        border-radius: 0 0 300% 200%;
        animation: wave 6s -1s linear infinite;
        opacity: 0.8;
    }

}